<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<title>My Team</title>
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
		/>
		<script src="https://kit.fontawesome.com/c502137733.js"></script>
		<style>
			#header-text {
				font-size: 3rem;
			}
			.card-header {
				margin-top: 0px;
				margin-bottom: 20px !important;
			}

			.card-subheader {
				margin: 0px;
				margin-bottom: 50px !important;
			}
		</style>
	</head>

	<body class="red lighten-2">
		<!-- Header -->
		<div class="row red darken-3 red-text text-lighten-5">
			<div class="col s12">
				<h1 id="header-text" class="center-align">My Team</h1>
			</div>
		</div>

		<!-- Content: Team Member Cards -->
		<div class="container">
			<div class="row">{{ team }}</div>
		</div>
	</body>
</html>
