<!-- Manager Card -->
<div class="col s12 m4">
	<div class="card red darken-2">
		<div class="card-content center-align red-text text-lighten-4">
			<!-- Card Header -->
			<h2 class="card-title card-header">{{ name }}</h2>
			<!-- Card Sub-Header -->
			<h3 class="card-title card-subheader">
				<i class="fas fa-mug-hot mr-2 red-text text-lighten-2"></i>
				{{ role }}
			</h3>
			<!-- Card Content -->
			<ul>
				<li>ID: {{ id }}</li>
				<li>
					Email:
					<a class="red-text text-lighten-3" href="{{ email }}">{{ email }}</a>
				</li>
				<li>Office number: {{ officeNumber }}</li>
			</ul>
		</div>
	</div>
</div>
